@import url('atropos/css');

// :root{
//     --color-principal: #ccc;
//     --color-secundario: #222;
//     --color-terciario: #bbb;
//     --shadow-1: rgba(100, 100, 100, 0.632);
//     --shadow-2: rgba(130, 130, 130, 0.4);
//     --shadow-3: rgba(170, 170, 170, 0.3);
// }

:root{
    --color-principal: #222;
    --color-secundario: #ccc;
    --color-terciario: #2c2c2c;
    --shadow-1: rgba(223, 223, 223, 0.632);
    --shadow-2: rgba(200, 200, 200, 0.4);
    --shadow-3: rgba(100, 100, 100, 0.3);
}

body{
    background-color: var(--color-principal);
    font-family: monospace;
}

@media (prefers-color-scheme: dark){
    :root{
        --color-principal: #222;
        --color-secundario: #ccc;
        --color-terciario: #2c2c2c;
        --shadow-1: rgba(223, 223, 223, 0.632);
        --shadow-2: rgba(200, 200, 200, 0.4);
        --shadow-3: rgba(100, 100, 100, 0.3);
    }
}

.clase{
    background-color: var(--color-principal);
    background-color: var(--color-secundario)
}
